.control {
    background-color: rgb(60, 60, 60);
    box-sizing: border-box;
    border-bottom: 2px solid rgb(22, 22, 22);
    position: fixed;
    min-width: 30%;
    max-width: 30%;
    height: 50px;

}

.control span{
    font-size: 17px;
}

.search {
    display: flex;
    margin: 10px;
    width: 10%;

    background-color: rgb(105, 105, 105);
    border-radius: 5px;
    float: left;
}

.icon {
    background-color: rgb(105, 105, 105);
    text-align: center;
    padding: 5px;
    font-size: 17px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

input {
    font-size: 17px;
    padding: 5px;
    outline: none;
    background-color: rgb(105, 105, 105);
    border-radius: 10px;
    margin-left: 10px;
    border: none;
}

button {
    max-width: 10%;
    min-width: 10%;
    font-size: 17px;
    padding: 5px;
    border: none;
    margin: 10px;
    background-color: rgb(105, 105, 105);
    border-radius: 10px;
}

button:active {
    background-color: rgb(130, 130, 130);
}