.navigation {
    float: left;
    min-width: 30%;
    min-height: 100vh;
    max-width: 30%;
    max-height: 100vh;

    background-color: rgb(30, 30, 30);
    overflow: scroll;
    scrollbar-width: none;
}

.list {
    margin-top: 50px;
    padding-left: 0px;
    min-width: inherit;
    color: rgb(221, 221, 221);
    list-style-type: none;
    user-select: none;
}

.content .date {
    padding-top: 10px;
    text-align: center;
    color: rgb(135, 135, 135);
    user-select: none;
}

.content textarea {
    resize: none;
    border: none;
    background-color: rgb(41, 41, 41);
    color: rgb(221, 221, 221);
    width: 100%;
    padding: 10px;
    font-family: inherit;
}

.content .title {
    font-size: 24px;

}

.content .description {
    font-size: 17px;
}

.item {
    padding-left: 30px;
    padding-top: 5px;
    border-bottom: 1px solid rgb(52, 52, 52);;
}

.item:active {
    background-color: rgb(52, 52, 52);
}

.item .title {
margin-top: 0px;
    margin-bottom: 5px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item .description {
    margin-top: 0px;
    color: rgb(135, 135, 135);
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item .date {
    margin-top: 0px;
    margin-right: 10px;
    min-width: 20px;
    max-width: 20%;
    float: left;

}