.app {
  min-width: 100vw;
  min-height: 100vh;
}

.content {
  float: left;
  width: 70%;
  min-height: inherit;

  background-color: rgb(41, 41, 41);
  box-sizing: border-box;
  border-left: 2px solid rgb(0, 0, 0);
}





.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
